/* MachOmics/styles.css */
body {
  background-color: #f4f4f4;
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}

h1 {
  color: #2c3e50;
}
.box {
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
}
.btn-primary {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: white;
}
.btn-primary:hover {
  background-color: #286090;
  border-color: #204d74;
}